<html>
    <head>
        <link rel="stylesheet" href="sample.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- 下記の記述でVue.jsをインポートしている -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>

        
        <div id="app-4">
          名前：<input v-model="name">
          コース：<input v-model="course">
          受講期：<input v-model="acceptancePeriod">
          <button v-on:click="addStudent1">入力した生徒を追加する</button>
          <ul>
            <li v-for="student in students">
              ID {{ student.id }} / 名前 {{ student.name }} / コース {{student.course}} / 受講期 {{student.acceptancePeriod}}
            </li>
          </ul>
        </div>
        <script src="sample.js"></script>
    </body>
</html>